# This file will set default reviewer on any PR that is opened against any .md file that is modified in the projects directory.

# Directory/File Name               # Username
Projects/*.md                      @charminer12
